@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
/* body{
    background-color: #111;
} */
.app{
    background-color: #111;
}
/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 0.2em;
    background-color: #2c2a2a;
  }
  
  /* Style the thumb (the part that you drag) */
  ::-webkit-scrollbar-thumb {
    background-color: #d81010;
  }/* Hide the default scrollbar */


/* Style the thumb hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(184, 10, 10);
}

  
